@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Lexend Giga", serif;
    font-size: 15px !important;
    background-color: black;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
}