@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Lexend Giga", serif !important;
  font-size: 15px !important;
  background-color: black;
  color: whitesmoke;
}
.banner {
    background-image: url("/imagenes/reto7/banner.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}